.movies {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;  
    flex-wrap: wrap;
    }
    
    .search {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    }