<div class="container">
    <mat-card>
    <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>    
    <input matInput [(ngModel)]="regData.name">
        </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
    <input matInput 
           [(ngModel)]="regData.email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput
          [(ngModel)]="regData.password">
    </mat-form-field>
    <br>
    <button mat-button color="primary" (click)="onReg()">Register</button>
    </mat-card>
</div>